<!DOCTYPE html>
<html>
  <head>
      <title>Animal Shelter</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
      <h1>Animal Shelter</h1>
      <nav id="menu">
        <li class="menu-item"><a href='/animals'>Animals</a></li>
      <li class="menu-item"><a href='/animals/new'>Add New Animal</a></li>
    </nav>
      <%= yield %>
  </body>
</html>
